.feedback {
  background-color: $bianca;
  padding-top: 80px;
}

.feedback__title {
  margin: 0 0 34px;
  color: $gold;
  font-size: 32px;
  font-weight: 500;
  word-spacing: 3px;
}

.feedback__user-feedback {
  resize: none;
  font-family: $general-font;
  font-size: 18px;
  line-height: 150%;
  display: block;
  width: 1110px;
  box-sizing: border-box;
  min-height: 160px;
  border: 1px solid $buff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

.feedback__user-name {
  font-family: $general-font;
  font-size: 18px;
  line-height: 150%;
  display: block;
  border: 1px solid $buff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
  width: 540px;
  height: 64px;
  box-sizing: border-box;
}

.feedback__button-wrapper {
  display: flex;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.feedback__button {
  color: $white;
  font-family: $general-font;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  background-color: $gold;
  border-radius: 8px;
  border: none;
  padding: 18px;
  width: 285px;
  height: 64px;
}

.feedback__notification {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.7;
  width: 225px;
}
