.main-header {
  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid $buff;
}

.main-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header a {
  text-decoration: none;
}

.main-header__logo {
  display: grid;
  grid-template-columns: 42px 1fr;
  align-content: start;
  gap: 0 18px;
  flex-shrink: 0;
}

.main-header__image {
  grid-row: 1 / 3;
}

.main-header__logo p {
  margin: 0;
}

.main-header__company-name {
  color: $gold;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.8px;
  padding-top: 5px;
}

.main-header__company-slogan {
  grid-column: 2 / 3;
  color: $black;
  font-size: 9px;
  font-weight: 300;
  line-height: 13px;
}
