.main {
  padding-top: 72px;
  background-color: $floral-white;
}

.main h1 {
  margin: 0 0 32px;
  font-size: 48px;
  font-weight: 500;
  word-spacing: 6px;
}

.main h2 {
  margin: 0 0 56px;
  color: $gold;
  font-size: 40px;
  font-weight: 500;
  word-spacing: 2px;
}

.main img {
  margin: 0 0 56px;
}

.main p {
  margin: 0 0 28px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.main__special {
  color: $gold;
}

.main ul {
  margin: 0 0 56px;
  padding: 4px 0 0 22px;
}

.main li {
  list-style-position: outside;
  list-style-image: url("../img/main/point-li.svg");
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
  padding-left: 8px;
}

.main__preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.main h3 {
  margin: 0 0 34px;
  color: $gold;
  font-size: 32px;
  font-weight: 500;
  word-spacing: 3px;
}

.main__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
}
