.main {
  padding-top: 72px;
  background-color: $floral-white;
}

.main__cms h1 {
  margin: 0 0 32px;
  font-size: 48px;
  font-weight: 500;
  word-spacing: 6px;
}

.main__cms h2 {
  margin: 0 0 56px;
  color: $gold;
  font-size: 40px;
  font-weight: 500;
  word-spacing: 2px;
}

.main__cms img {
  margin: 0 0 56px;
}

.main__cms p {
  margin: 0 0 28px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.main__special {
  color: $gold;
}

.main__cms ul {
  margin: 0 0 56px;
  padding: 4px 0 0 22px;
}

.main__cms li {
  list-style-position: outside;
  list-style-image: url("../img/main/point-li.svg");
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
  padding-left: 8px;
}

.main__preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.main__cms h3 {
  margin: 0 0 34px;
  color: $gold;
  font-size: 32px;
  font-weight: 500;
  word-spacing: 3px;
}

.main__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
}

blockquote {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 150%;
  color: $gold;
  max-width: 732px;
  margin: 0 auto;
  padding: 98px;
  position: relative;
}

blockquote::before,
blockquote::after {
  content: '';
  position: absolute;
  width: 920px;
  height: 1px;
  background-color: $buff;
  left: 50%;
  transform: translate(-50%);
}

blockquote::before {
  top: 56px;
}

blockquote::after {
  bottom: 60px;
}
