.main-header {
  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid $buff;
}

.main-header .wysiwyg-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header a {
  text-decoration: none;
}

.main-header__logo {
  display: grid;
  grid-template-columns: 262px 1fr;
  align-content: start;
  gap: 0 18px;
  flex-shrink: 0;
}

.main-header__image {
  grid-row: 1 / 3;
}

.main-header__logo p {
  margin: 0;
}

.menu-primary-container .current-menu-item a {
  color: $dark-olive;
}
