.menu-primary-container .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 14px 0 0 10px;
}

.menu-primary-container a {
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding: 0;
}

.menu-primary-container .menu-item-has-children {
  position: relative;
  background-image: url("../img/main/select-triangle.svg");
  background-position: right center;
  background-size: 13px 9px;
  background-repeat: no-repeat;
}

.menu-primary-container .menu-item-has-children a {
  padding-right: 20px;
}

.menu-primary-container .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 32px;
}

.menu-primary-container .sub-menu {
  margin: 0;
  padding: 22px 16px;
  display: flex;
  position: absolute;
  top: 82px;
  box-sizing: border-box;
  background-color: $white;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(97, 97, 97, 0.18), 0 2px 4px 0 rgba(97, 97, 97, 0.18);
  transition: all 0.4s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  list-style-type: none;
  flex-direction: column;
  gap: 18px;
  min-height: 168px;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
}

.menu-primary-container .sub-menu li {
  list-style: none;
}

.menu-primary-container .sub-menu a {
  color: #000000;
}

.menu-primary-container a:hover {
  color: #d8874d;
}

.menu-primary-container .menu-button a {
  padding: 6px 22px;
  outline: 2px solid $gold;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s;
  text-align: center;
}

.menu-primary-container .menu-button:hover a {
  background-color: $lotion;
}

.menu-primary-container .menu-button:active a {
  background-color: $pearl;
}

