.order-form .wpcf7-text {
  resize: none;
  font-family: $general-font;
  font-size: 18px;
  line-height: 150%;
  display: block;
  width: 1110px;
  box-sizing: border-box;
  min-height: 160px;
  border: 1px solid $buff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

.order-form__user-name {
  font-family: $general-font;
  font-size: 18px;
  line-height: 150%;
  display: block;
  border: 1px solid $buff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
  width: 540px;
  height: 64px;
  box-sizing: border-box;
}

.order-form__button-wrapper {
  display: flex;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.order-form .wpcf7-submit {
  color: $white;
  font-family: $general-font;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  background-color: $gold;
  border-radius: 8px;
  border: none;
  padding: 18px;
  width: 285px;
  height: 64px;
  cursor: pointer;
  transition: all 0.2s;
}

.order-form__button:hover {
  background-color: $dark-goldenrod;
}

.order-form__button:active {
  background-color: $dark-olive;
}

.order-form__notification {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.7;
  width: 225px;
}
