.popover {
  position: relative;
  max-width: 200px;
  display: flex;
  align-items: center;
}

.popover__content {
  margin: 0;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  position: absolute;
  padding: 24px 16px;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(97, 97, 97, 0.18), 0 2px 4px 0 rgba(97, 97, 97, 0.18);
  transition: all 0.4s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.popover:hover .popover__content {
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.4s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__link {
  color: $black;
  font-size: 18px;
  transition: all 0.2s;
  display: block;
  padding: 2px;
}

.popover__link:hover {
  color: $gold;
}

.popover__icon {
  flex-shrink: 0;
  padding-top: 5px;
  padding-right: 2px;
}
