.wysiwyg-wrapper h1 {
  margin: 0 0 32px;
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  word-spacing: 6px;
}

.wysiwyg-wrapper h2 {
  margin: 0 0 56px;
  color: $gold;
  font-size: 40px;
  font-weight: 500;
  word-spacing: 2px;
}

.wysiwyg-wrapper img {
  margin: 0 0 56px;
}

.wysiwyg-wrapper p {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.wysiwyg-wrapper__special {
  color: $gold;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  margin: 0 0 56px;
  padding: 4px 0 0 20px;
}

.wysiwyg-wrapper li {
  list-style-position: outside;
  list-style-image: url("../img/main/point-li.svg");
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
  padding-left: 8px;
}

.wysiwyg-wrapper__preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 34px;
}

.wysiwyg-wrapper h3 {
  margin: 0 0 34px;
  color: $gold;
  font-size: 32px;
  font-weight: 500;
  word-spacing: 3px;
}

.wysiwyg-wrapper__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
}

.wysiwyg-wrapper blockquote {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 150%;
  color: $gold;
  max-width: 732px;
  margin: 0 auto;
  padding: 100px;
  position: relative;
}

.wysiwyg-wrapper blockquote::before,
.wysiwyg-wrapper blockquote::after {
  content: '';
  position: absolute;
  width: 920px;
  height: 1px;
  background-color: $buff;
  left: 50%;
  transform: translate(-50%);
}

.wysiwyg-wrapper blockquote::before {
  top: 58px;
}

.wysiwyg-wrapper blockquote::after {
  bottom: 60px;
}
