// Viewports
$desktop-width: 1440px;

// Fonts
$general-font: "Montserrat", "Arial", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$gold: #9f7303;
$buff: #f5d581;

// General

html {
  //Sticky footer
  height: 100%;
}

body {
  min-width: $desktop-width;
  font-family: $general-font;
  //Sticky footer
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

//Sticky footer
.main {
  flex-grow: 1;
}
